main h1,
p {
    font-family: poppins;
    color: white;
}

main p {
    text-align: justify;
    font-weight: 300;
    line-height: 1.9;
}


section a {
    opacity: 1;
}

@media (min-width: 768px) {
    main button {
        border: none;
        padding: 5px 10px;
        width: 20vh;
        border-radius: 3px;
        font-size: 1em;
        color: #fff;
        background-color: #537704;
        transition: 0.3s;
    }

    main button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    main h1 {
        font-size: 3em;
        margin: 30px;
    }

    main p {
        margin: 30px;
    }

    .p-descricao {
        margin-top: -30px;
        margin-left: 50px;
        width: 40vw;
    }

    main {
        display: flex;
        align-items: center;
    }

    .sec-2 {
        width: 50%;
    }

    .informacao {
        background-image: linear-gradient(to bottom, #CCCCCC, #42596B);
        display: flex;
        flex-direction: column;
        height: 90%;
        border-radius: 10px;
        padding: 40px;
    }

    .info {
        background-color: #ffffffad;
        color: black;
        display: flex;
        margin: 30px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
    }

    .info p {
        color: black;
        font-family: inter;
    }

    #info-1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 20%;
        margin-left: 3px;
    }

    #info-1 p {
        align-self: start;
        justify-self: start;
        margin: -1px;
        font-family: inter;
        font-weight: 400;
        font-size: 16px;
    }

    .icon- {
        margin-top: auto;
        padding-bottom: 4px;
    }

    .info-number {
        font-family: inter;
        font-size: 4em;
        color: #293B49;
        font-weight: 400;
        margin: 0.40em 0em 0.40em 0.60em;
    }

    .unit {
        font-family: inter;
        font-size: 2em;
        color: #293B49;
        font-weight: 400;
        margin-left: 0.4em;
    }

    .info img {
        width: 20px;
    }

    .info-2 {
        display: flex;
        justify-self: center;
        align-items: center;
        margin: auto;
    }

    .info-3 {
        justify-self: end;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-3 img {
        width: 80%;
        opacity: 0;
    }

}

@media (max-width: 768px) {
    .sec-1 {
        display: none;
    }

    main button {
        border: none;
        padding: 5px 10px;
        width: 20vh;
        border-radius: 3px;
        font-size: 1em;
        color: #fff;
        background-color: #537704;
        transition: 0.3s;
    }

    .sec-2 {
        width: 100%;
    }

    .informacao {
        background-image: linear-gradient(to bottom, #CCCCCC, #42596B);
        display: flex;
        flex-direction: column;
        height: 90%;
        border-radius: 10px;
        padding: 40px 10px 40px 10px;
    }

    .info {
        background-color: #ffffffad;
        color: black;
        display: flex;
        margin: 0px 0px 20px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
    }

    .info p {
        color: black;
        font-family: inter;
    }

    #info-1 {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 20%;
        margin-left: 3px;
    }

    #info-1 p {
        align-self: start;
        justify-self: start;
        margin: -1px;
        font-family: inter;
        font-weight: 400;
        font-size: 16px;
    }

    .icon- {
        margin-top: auto;
        padding-bottom: 4px;
    }

    .info-number {
        font-family: inter;
        font-size: 4em;
        color: #293B49;
        font-weight: 400;
        margin: 0.40em 0em 0.40em 0.60em;
    }

    .unit {
        font-family: inter;
        font-size: 2em;
        color: #293B49;
        font-weight: 400;
        margin-left: 0.4em;
    }

    .info img {
        width: 20px;
    }

    .info-2 {
        display: flex;
        justify-self: center;
        align-items: center;
        margin: auto;
    }

    .info-3 {
        justify-self: end;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-3 img {
        width: 80%;
        opacity: 0;
    }
}