main h1,p {
    font-family: poppins;
    color: white;
}

main p {
    text-align: justify;
}

section a {
    opacity: 1;
}



@media (min-width: 768px) {

    section h1 {
        margin-top: 30px;
    }

    p{
        font-weight: 300;
    }

    .sec-2 p{
        margin-right: 30px;
        margin-top: 50px;
    }

    .sec-2 .p-descricao{
        margin-left: 50px;
        margin-top: -50px;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    .sec-2{
        display: flex;
    }

    section img {
        width: 400px;
        height: 400px;
        margin-left: 50px;
    }

    h1 {
        font-size: 3em;
        margin: 0px 20px 0px 20px;
        font-weight: 500;
    }

    p {
        margin: 20px;
    }

    .p-indent{
        text-indent: 1em;
    }

    button {
        margin: 20px;
        border: none;
        padding: 5px 15px;
        border-radius: 3px;
        font-size: 1em;
        color: #fff;
        background-color: #537704;
        transition: 0.3s;
    }

    button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    .title-2 {
        margin-bottom: 20px;
    }
    .num{
        margin-bottom: -50px;
    }

}

@media (max-width: 768px) {
    
    h1 {
        font-size: 1.2em;
        margin: 0px 0px 20px 20px;
    }

    p{
        font-size: 0.9em;
        font-weight: 300;
        margin: 5px 0px 0px 0px;
    }

    .p-indent{
        text-indent: 1em;
    }

    .num{
        margin-top: 20px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    .ultip {
        margin-bottom: 20px;
    }

    main button {
        display: block;
        margin: auto;
        border: none;
        padding: 5px 10px;
        width: 20vh;
        border-radius: 3px;
        font-size: 0.7em;
        color: #fff;
        background-color: #537704;
        transition: 0.3s;
    }

    .sec-2{
        margin-top: 20px;
    }

    .image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main button:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    main section img {
        width: 30vh;
        height: 30vh;
        margin: 40px 0px 20px 10px;
        border-radius: 10px;
    }

}